<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <th:block th:replace="~{partials/partials_post.html :: head (title='My Post')}"></th:block>
</head>
<body>
<nav th:insert="~{partials/partials_post.html :: navbar}"></nav>
<header th:insert="~{partials/partials_post.html :: header}"></header>
<h1 th:text="${post.title}">My Title</h1>
<p th:text="${post.body}">My post</p>
<p th:text="${post.user.email}">Email</p>

<script th:insert="~{partials/partials_post.html :: script}"></script>
</body>
</html>