<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security" lang="en">
<head>
    <th:block th:replace="~{partials/partials_post.html :: head (title=${post.title})}"></th:block>
</head>
<body>
<nav th:insert="~{partials/partials_post.html :: navbar}"></nav>
    <header th:insert="~{partials/partials_post.html :: header}"></header>
    <h1 th:text="${post.title}">My Title</h1>
    <p th:text="${post.body}">My post</p>
    <a th:href="@{|/posts/${post.id}/edit|}">Edit</a>
<!--    <p th:text="${post.user.email}">Email</p>-->

<script th:insert="~{partials/partials_post.html :: script}"></script>
<script th:insert="~{partials/partials_post.html :: logoutScript}"></script>
</body>
</html>