<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <th:block th:replace="~{partials/partials_ads.html :: head (title='Submit and Ad')}"></th:block>
    <link rel="stylesheet" th:href="@{/css/createAds.css}">
</head>
<body>
<h1>Submit an Ad</h1>
<form action="/ads/create" method="post">
    <label for="title">Title:</label>
    <input type="text" name="title" id="title"><br>
    <label for="description">Description:</label>
    <textarea name="description" id="description"></textarea>
    <fieldset>
        <legend>Categories:</legend>
        <div th:each="category : ${categories}">
            <label th:for="${category.name}">[[${category.name}]]</label>
            <input type="checkbox" name="category" th:id="${category.name}" th:value="${category.getName()}">
        </div>
    </fieldset>
    <button>Submit</button>
</form>
</body>
</html>