body {
    font-family: Tahoma, sans-serif;
    font-size: 18px;
    min-height: 100dvh;
}


navbar {
    display: flex;
    justify-content: center;
    background-color: #e3f2fd;
    height: 50px;
}

#title {
    font-size: 2em;
    text-decoration: none;
    color: darkolivegreen;
}

header {
    margin-top: 20px;
}

.guess {
    text-decoration: none;
    color: rebeccapurple;
}

header, h2, h3, p, footer {
    text-align: center;
}