<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head th:insert="~{partials/partials_dice.html :: head}"></head>

<body>
<nav th:insert="~{partials/partials_dice.html :: nav}"></nav>


<div th:if="${n == diceRoll}">
    <h2>You guessed correctly!</h2>
    <h3>Dice Roll: [[${diceRoll}]]</h3>
    <h3>Your Guess: [[${n}]]</h3>
</div>

<div th:if="${n != diceRoll}">
    <h2>You guessed wrong :(</h2>
    <h3>Dice Roll: [[${diceRoll}]]</h3>
    <h3>Your Guess: [[${n}]]</h3>
</div>

<footer th:insert="~{partials/partials_dice.html :: footer}"></footer>
</body>
</html>