<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security" lang="en">
<head>
   <th:block th:replace="~{partials/partials_post.html :: head (title ='Your Profile')}"></th:block>
</head>
<body>
<nav th:insert="~{partials/partials_post.html :: navbar}"></nav>
<form th:action="@{/profile.html}" th:method="post">
    <div sec:authorize="isAuthenticated()">
        <p>User ID: <span sec:authentication="principal.id"></span>
        <p>Welcome, <span sec:authentication="principal.username"></span></p>
    </div>
    <fieldset>
        <legend>Change Your Email</legend>
        <p>Current Email: <span sec:authentication="principal.email"></span></p>
        <label for="email">New Email:</label>
        <input type="text" name="email" id="email"><br>
        <input type="submit" value="Submit">
    </fieldset>
</form>
<script th:insert="~{partials/partials_post.html :: script}"></script>
<script th:insert="~{partials/partials_post.html :: logoutScript}"></script>
</body>
</html>