<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <th:block th:replace="~{partials/partials_post.html :: head (title = 'Register a Posts Account')}"></th:block>
</head>
<body>
<nav th:insert="~{partials/partials_post.html :: navbar}"></nav>
    <h1>Create an Account</h1>
    <form th:action="@{/register}" th:method="post" th:object="${user}">
        <label for="username">Username:</label>
        <input id="username" th:field="*{username}">
        <br><br>
        <label for="email">Email:</label>
        <input id="email" th:field="*{email}">
        <br><br>
        <label for="password">Password:</label>
        <input id="password" type="password" th:field="*{password}">
        <br><br>
        <input type="submit" value="Sign Me Up!">
    </form>
<script th:insert="~{partials/partials_post.html :: script}"></script>
<script th:insert="~{partials/partials_post.html :: logoutScript}"></script>
</body>
</html>