<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head th:insert="~{partials/partials_dice.html :: head}"></head>

<body>
<nav th:insert="~{partials/partials_dice.html :: nav}"></nav>

<header th:insert="~{partials/partials_dice.html :: header}"></header>

<h2>Guess a number from 1 to 6:</h2>

<p><a href="/roll-dice/1">1</a></p>
<p><a href="/roll-dice/2">2</a></p>
<p><a href="/roll-dice/3">3</a></p>
<p><a href="/roll-dice/4">4</a></p>
<p><a href="/roll-dice/5">5</a></p>
<p><a href="/roll-dice/6">6</a></p>



<footer th:insert="~{partials/partials_dice.html :: footer}"></footer>
</body>
</html>